@charset "UTF-8";
/**页面样式初始化**/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "San Francisco","Helvetica",Roboto,Arial,"PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei",sans-serif; }

html {
  line-height: 1;
  background-color: #fcfcfc; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

input {
  border: 0;
  background: transparent; }

@charset "UTF-8";
/**fontsize,zhangsai,2017/3/10,start**/
/**为了实现font-size在414及以上屏宽适配**/
/**fontsize,zhangsai,2017/3/10,end**/
/**line clamp,zhangsai,2017/3/10,start**/
/**控制文字显示行数**/
/**line clamp,zhangsai,2017/3/10,end**/
@media (min-width: 240px) and (max-width: 320px) {
  html {
    font-size: 13px !important; } }

@media (min-width: 321px) and (max-width: 360px) {
  html {
    font-size: 14px !important; } }

@media (min-width: 361px) and (max-width: 375px) {
  html {
    font-size: 15px !important; } }

@media (min-width: 376px) and (max-width: 414px) {
  html {
    font-size: 17px !important; } }

@media (min-width: 415px) and (max-width: 568px) {
  html {
    font-size: 23px !important; } }

@media (min-width: 569px) and (max-width: 640px) {
  html {
    font-size: 26px !important; } }

@media (min-width: 641px) and (max-width: 667px) {
  html {
    font-size: 27px !important; } }

@media (min-width: 668px) and (max-width: 736px) {
  html {
    font-size: 29px !important; } }

@media (min-width: 738px) and (max-width: 1080px) {
  html {
    font-size: 33px !important; } }

.cmr-font-smallest {
  font-size: 0.6rem;
  line-height: 150%; }

.cmr-font-smaller {
  font-size: 0.67rem;
  line-height: 150%; }

.cmr-font-small {
  font-size: 0.73rem;
  line-height: 150%; }

.cmr-font-normal {
  font-size: 0.8rem;
  line-height: 150%; }

.cmr-font-big {
  font-size: 0.87rem;
  line-height: 150%; }

.cmr-font-bigger {
  font-size: 0.94rem;
  line-height: 150%; }

.cmr-font-biggest {
  font-size: 1rem;
  line-height: 150%; }

.cmr-font-large {
  font-size: 1.1rem;
  line-height: 150%; }

.cmr-font-gaint {
  font-size: 1.13rem;
  line-height: 150%; }

.cmr-uiplugins {
  width: 100%;
  position: Relative;
  top: 20px; }
 .cmr-padLR{
     padding:0 4.2%;
 }

@font-face {
  font-family: 'cmread';
  /* project id 240482 */
  src: url("//at.alicdn.com/t/font_tpjpn4h15duw61or.eot");
  src: url("//at.alicdn.com/t/font_tpjpn4h15duw61or.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_tpjpn4h15duw61or.woff") format("woff"), url("//at.alicdn.com/t/font_tpjpn4h15duw61or.ttf") format("truetype"), url("//at.alicdn.com/t/font_tpjpn4h15duw61or.svg#cmread") format("svg"); }

.cmr-icon {
  font-family: "cmread" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.cmr-clock-icon:before {
  content: "\e635"; }

.cmr-greater-icon:before {
  content: "\e60b"; }

.cmr-close-icon:before {
  content: "\e611"; }

.cmr-horn-icon:before {
  content: "\e609"; }

.cmr-clock-icon:before {
  content: "\e635"; }

.cmr-author-icon:before {
  content: "\e605"; }

.cmr-migu-icon:before {
  content: "\e606"; }

.cmr-change-icon:before {
  content: "\e60d"; }

.cmr-selfsignbk-icon:before {
  content: "\e610"; }

.cmr-up-icon:before {
  content: "\e60a"; }

.cmr-nochange-icon:before {
  content: "\e60c"; }

.cmr-down-icon:before {
  content: "\e60f"; }

.cmr-btn-type1 {
  padding: 5px 12px;
  background-color: #3778ff;
  color: #fff;
  border-radius: 14px; }

.cmr-notice {
  color: #3778ff; }

.cmr-notice-ctt {
  margin-left: 2%;
  margin-right: 4%; }

.cmr-btn-type2 {
  padding: 1px 3px;
  color: #f85a44;
  border-radius: 6px;
  border: 2px solid rgba(240, 90, 68, 0.5); }

.cmr-speaker {
  color: #4395fa;
  line-height: 150%;
  padding: 26px 4.3%;
  background-color: #fcfcfc;
  position: relative; }

.cmr-speaker-ctt {
  color: #969fa9;
  margin: 0 1.6%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 84%; }

.cmr-speaker-more {
  position: absolute;
  right: 4.3%;
  color: #969fa9; }

.cmr-change-tt {
  color: #3e8aff;
  position: relative; }

.cmr-change-tt:before {
  content: "";
  background: url(https://wap.cmread.com/r/p/content/repository/ues/image/s1/20170328193213837.png) no-repeat;
  position: absolute;
  display: inline-block;
  background-size: contain;
  width: 58px;
  height: 14px;
  top: 7px; }

.box-more {
  color: #3e8aff; }

.cmr-tt-container {
  background-color: #fcfcfc;
  padding: 4.3% 15px;
  position: relative; }

.cmr-more-ttpos {
  position: absolute;
  right: 4.3%;
  top: 34%; }

.cmr-btn-type3 {
  color: #ff8c10;
  background-color: #fef9f2;
  border: 1px solid #ff8c10;
  border-radius: 11px 13px 13px 0;
  padding: 4px 17px; }

.cmr-tt-nm {
  margin-right: 2%; }

.cmr-booktag-type1 {
  color: #fff;
  background-color: #6293f8;
  border-radius: 4px;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 5%;
  padding: 1px 1px;
  left: -1px; }

.cmr-btn-type4 {
  color: #3778ff;
  background-color: #fff;
  border: 1px solid #3778ff;
  border-radius: 15px;
  padding: 4px 5%; }

.cmr-btn-type5 {
  color: #969fa9;
  background-color: #fff;
  border: 1px solid #969fa9;
  border-radius: 4px;
  padding: 2px 7px; }

.cmr-booktag-type2 {
  position: absolute;
  width: 27.1%;
  background: url(https://wap.cmread.com/r/p/content/repository/ues/image/s1/20170328193141001.png) 5% 2% no-repeat;
  background-size: 174%;
  display: inline-block;
  top: -4px;
  right: -4px;
  height: 25%;
  z-index: 10; }

.cmr-booktag-type3 {
  position: absolute;
  width: 27.1%;
  background: url(https://wap.cmread.com/r/p/content/repository/ues/image/s1/20170328193141001.png) 5% 21% no-repeat;
  background-size: 174%;
  display: inline-block;
  top: -4px;
  right: -4px;
  height: 25%;
  z-index: 10; }

.cmr-booktag-type4 {
  position: absolute;
  width: 27.1%;
  background: url(https://wap.cmread.com/r/p/content/repository/ues/image/s1/20170328193141001.png) 5% 39% no-repeat;
  background-size: 174%;
  display: inline-block;
  top: -4px;
  right: -4px;
  height: 25%;
  z-index: 10; }

.cmr-booktag-type5 {
  position: absolute;
  width: 37.6%;
  background: url(https://wap.cmread.com/r/p/content/repository/ues/image/s1/20170328193141001.png) -3px 53.9% no-repeat;
  background-size: 124%;
  display: inline-block;
  top: -3px;
  right: -4px;
  height: 16%;
  z-index: 10; }

.cmr-booktag-type6 {
  position: absolute;
  width: 37.6%;
  background: url(https://wap.cmread.com/r/p/content/repository/ues/image/s1/20170328193141001.png) -4px 68.9% no-repeat;
  background-size: 124%;
  display: inline-block;
  top: -2px;
  right: -6px;
  height: 16%;
  z-index: 10; }

.cmr-booktag-type7 {
  position: absolute;
  width: 37.6%;
  background: url(https://wap.cmread.com/r/p/content/repository/ues/image/s1/20170328193141001.png) -3px 84.9% no-repeat;
  background-size: 124%;
  display: inline-block;
  top: -2px;
  right: -4px;
  height: 16%;
  z-index: 10; }

.cmr-booktag-type8 {
  position: absolute;
  width: 37.6%;
  background: url(https://wap.cmread.com/r/p/content/repository/ues/image/s1/20170328193141001.png) -3px 98.9% no-repeat;
  background-size: 124%;
  display: inline-block;
  top: -4px;
  right: -4px;
  height: 16%;
  z-index: 10; }

.cmr-booktime {
  color: #fff;
  background: -webkit-linear-gradient(left, #ebebeb, #484848);
  background: linear-gradient(left, #ebebeb, #484848);
  position: absolute;
  width: 60%;
  left: 26%;
  top: 0; }

.cmr-btn-type6 {
  color: #3778ff;
  background-color: #fff;
  border: 1px solid #3778ff;
  border-radius: 15px;
  padding: 4px 5%; }

.pic-box {
  display: flex;
  flex-wrap: nowrap;
  align-content: space-between;
  width: 91.6%;
  padding: 0 4.2%; }

.pic-item {
  position: relative;
  width: 26%;
  flex: 1; }

.pic-imgitem {
  position: relative;
  width: 100%; }

.pic-item:nth-child(2) {
  margin: 0 9.3%; }

.book-cover {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  border: 1px solid #f0f0f0;
  float: left;
  height: 8.3rem;
  z-index: 9; }

.book-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  color: #464c56;
  position: relative;
  width: 100%;
  float: left;
  margin-top: 0.4rem; }

.bookauthor-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  color: #969fa9;
  position: relative;
  width: 100%;
  float: left; }

.book-name2 {
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  max-height: 300%;
  display: -webkit-box;
  color: #464c56;
  position: relative;
  width: 100%; }

.cmr-bookbox {
  display: -webkit-box;
  flex-wrap: nowrap;
  width: 91.6%;
  padding: 0 4.2%; }

.cmr-bkcover-large {
  position: relative;
  width: 6.2rem;
  margin-right: 4%; }

.cmr-bkcover-middle {
  position: relative;
  width: 5.7rem;
  margin-right: 4%; }

.cmr-bkcover-small {
  position: relative;
  width: 5.3rem;
  margin-right: 4%; }

.cmr-bkcover-tiny {
  position: relative;
  width: 4.6rem;
  margin-right: 4%; }

.cmr-bookimg-large {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  border: 1px solid #f0f0f0;
  height: 8.14rem;
  z-index: 9; }

.cmr-bookimg-middle {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  border: 1px solid #f0f0f0;
  height: 7.6rem;
  z-index: 9; }

.cmr-bookimg-small {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  border: 1px solid #f0f0f0;
  height: 7.1rem;
  z-index: 9; }

.cmr-bookimg-tiny {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  border: 1px solid #f0f0f0;
  height: 6.2rem;
  z-index: 9; }

.mix-bkdesc {
  -webkit-box-flex: 1;
  position: relative; }

.mix-bookname {
  color: #464c56;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  margin: 2% 0;
  width: 100%; }

.mix-bookauthor {
  color: #969fa9;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  margin-top: 2%;
  width: 100%; }

.mix-bookinfo {
  color: #464c56;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  max-height: 300%;
  display: -webkit-box;
  width: 100%;
  position: absolute;
  bottom: 9%; }

.rank-bkdesc {
  -webkit-box-flex: 1;
  position: relative; }

.rank-bookname {
  color: #464c56;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  margin: 2% 0;
  width: 100%; }

.rank-bookauthor {
  color: #969fa9;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  margin-top: 2%;
  width: 100%; }

.rank-bookinfo {
  color: #464c56;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  max-height: 300%;
  display: -webkit-box;
  width: 100%;
  position: absolute;
  bottom: 9%; }

.cmr-migubg-large {
  font-size: 4.1rem;
  color: #d3d3d3;
  position: absolute;
  right: 0;
  background-color: #f0f0f0;
  width: 83.5%;
  height: 5.8rem;
  padding-top: 2.5rem;
  padding-left: 1rem;
  top: 0; }

.cmr-migubg-middle {
  font-size: 4.1rem;
  color: #d3d3d3;
  position: absolute;
  right: 0;
  background-color: #f0f0f0;
  width: 83.5%;
  height: 5rem;
  padding-top: 2.5rem;
  padding-left: 1rem;
  top: 0; }

.cmr-migubg-small {
  font-size: 4.1rem;
  color: #d3d3d3;
  position: absolute;
  right: 0;
  background-color: #f0f0f0;
  width: 83.5%;
  height: 4.6rem;
  padding-top: 2.5rem;
  padding-left: 0.7rem;
  top: 0; }

.cmr-migubg-tiny {
  font-size: 4.1rem;
  color: #d3d3d3;
  position: absolute;
  right: 0;
  background-color: #f0f0f0;
  width: 83.5%;
  height: 3.6rem;
  padding-top: 2.5rem;
  padding-left: 0.6rem;
  top: 0; }

@charset "UTF-8";
/**fontsize,zhangsai,2017/3/10,start**/
/**为了实现font-size在414及以上屏宽适配**/
/**fontsize,zhangsai,2017/3/10,end**/
/**line clamp,zhangsai,2017/3/10,start**/
/**控制文字显示行数**/
/**line clamp,zhangsai,2017/3/10,end**/

/**
 * Swiper 3.4.2
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 *
 * http://www.idangero.us/swiper/
 *
 * Copyright 2017, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 *
 * Licensed under MIT
 *
 * Released on: March 10, 2017
 */
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1; }

.swiper-container-no-flexbox .swiper-slide {
  float: left; }

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide, .swiper-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative; }

.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
  height: auto; }

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-transition-property: -webkit-transform,height;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform,height; }

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat; }

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none; }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto; }

.swiper-button-prev.swiper-button-black, .swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto; }

.swiper-button-next.swiper-button-black, .swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0; }

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%; }

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: .2; }

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff; }

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff; }

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000; }

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate(0, -50%);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 0;
  display: block; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px; }

.swiper-pagination-progress {
  background: rgba(0, 0, 0, 0.25);
  position: absolute; }

.swiper-pagination-progress .swiper-pagination-progressbar {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top; }

.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top; }

.swiper-container-horizontal > .swiper-pagination-progress {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0; }

.swiper-container-vertical > .swiper-pagination-progress {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0; }

.swiper-pagination-progress.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.5); }

.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
  background: #fff; }

.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
  background: #000; }

.swiper-container-3d {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px; }

.swiper-container-3d .swiper-cube-shadow, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; }

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-coverflow .swiper-wrapper, .swiper-container-flip .swiper-wrapper {
  -ms-perspective: 1200px; }

.swiper-container-cube, .swiper-container-flip {
  overflow: visible; }

.swiper-container-cube .swiper-slide, .swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1; }

.swiper-container-cube .swiper-slide .swiper-slide, .swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-active .swiper-slide-active, .swiper-container-flip .swiper-slide-active, .swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube .swiper-slide-shadow-bottom, .swiper-container-cube .swiper-slide-shadow-left, .swiper-container-cube .swiper-slide-shadow-right, .swiper-container-cube .swiper-slide-shadow-top, .swiper-container-flip .swiper-slide-shadow-bottom, .swiper-container-flip .swiper-slide-shadow-left, .swiper-container-flip .swiper-slide-shadow-right, .swiper-container-flip .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-cube .swiper-slide {
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%; }

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0; }

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-next, .swiper-container-cube .swiper-slide-next + .swiper-slide, .swiper-container-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible; }

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0; }

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity; }

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-fade .swiper-slide-active, .swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center; }

.swiper-zoom-container > canvas, .swiper-zoom-container > img, .swiper-zoom-container > svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; }

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1); }

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%; }

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%; }

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0; }

.swiper-scrollbar-cursor-drag {
  cursor: move; }

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite; }

.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat; }

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg); } }

.spin {
    width: 25px;
    height: 25px;
    background: url(//wap.cmread.com/rbc/t/content/repository/ues/image/s109/loading_V7.png) no-repeat;
    background-size: 25px auto;
    margin: 10px 0 10px 48%;
    min-height: 0;
    display: inline-block;
    vertical-align: sub;
    -webkit-animation: spin 0.4s linear infinite;
}
.showOver{
    color: #aeaeae;
    font-size: 11px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    display: none;
}

@-webkit-keyframes spin{
    from{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
        -o-transform:rotate(0deg);
        -moz-transfomr:rotate(0deg);
    }
    to{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg);
        -o-transform:rotate(360deg);
        -moz-transfomr:rotate(360deg);
    }
}
